<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Poppins:ital,wght@0,500;1,400&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/static/advanced.css">
        <title>Google Advanced</title>
    </head>
    <body>
        <nav class="links">
            <a href="index.html">Google Search</a>
            <a href="images.html" >Images</a>
        </nav>
        <form action="https://google.com/search">
            <h1 class="logo">
                <span class="blue">G</span>
                <span class="red">o</span>
                <span class="yellow">o</span>
                <span class="blue">g</span>
                <span class="green">l</span>
                <span class="red">e</span>
            </h1>
            <div>
                <ul>
                    <h2 class="heading2">Advanced Search</h2>
                </ul>
            </div>
            <div class="main-div">
                <div class="column firstcolumn">
                    <span class="heading3">Find pages with...</span>
                    <div class="row">
                        <label class="list">all these words:</label>
                        <input type="text" name="as_q">
                    </div>
                    <div class="row">
                        <label class="list">this exact word or phrase:</label>
                        <input type="text" name="as_epq">
                    </div>
                    <div class="row">
                       <label class="list">any of these words:</label>
                        <input type="text" name="as_oq"> 
                    </div>
                    <div class="row">
                        <label class="list">none of these words:</label>
                        <input type="text" name="as_eq">
                    </div>
                    <input type="submit" value="Advanced Search" class="submit-adv">
                </div>
                
                <div class="column secondcolumn">
                    <span class="heading3">To do this in search box.</span>

                    <div class="row">
                        <p>Type the important words: tri-colour rat terrier</p>
                    </div>

                    <div class="row">
                        <p>Put exact words in quotes: "rat terrier"</p>
                    </div>

                    <div class="row">
                        <p>Type OR between all the words you want: miniature OR standard</p>
                    </div>

                    <div class="row">
                        <p>Put a minus sign just before words to exclude: -rat terrier</p>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>