<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Poppins:ital,wght@0,500;1,400&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/static/style.css">
        <title>Google Image</title>
    </head>
    <body>
        <nav class="links">
            <a href="index.html">Google Search</a>
            <a href="advanced.html" >Advanced Search</a>
        </nav>
        <form action="https://google.com/images">
            <h1>
                <span class="blue">G</span>
                <span class="red">o</span>
                <span class="yellow">o</span>
                <span class="blue">g</span>
                <span class="green">l</span>
                <span class="red">e</span>
                <span id="smallh1" class="blue"> Images</span>
            </h1>
            <div class="box">
                <i class="fa fa-search"></i>
                <input type="text" name="q" autofocus>
            </div>
            <input type="submit" value="Image Search" class="submit-img">
        </form>
    </body>
</html>